.card {
    width: 355px;
    height: 255px;
    background-color: white;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: top;
    animation: fade 1s linear;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}


.card:hover {
    border-color: #080808;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    100% { opacity: 1 }
}